{% extends 'trip/base.html' %}

{% block aboutactive %} active {% endblock aboutactive %}

{% block content %}

{% load static %}


<center>
  <h2 style="font-family:cursive; background-color:LIGHTBLUE;">
    We bring you closer to the people and things you love.
  </h2>
</center>
<hr>

<div class="media">
  <div class="media-body">
    <br>
    <h1 class="mt-0 mb-3" style="font-family:Georgia;">
      Art is inside you express
      <p style="font-family:Georgia; color:LIGHTBLUE">
        yourself!!
      </p>..
    </h1>
  </div>
  <img src="{% static 'trip/smiling.png' %}" class="ml-3" alt="...">
</div>

<br>

<div class="media">
  <img src="{% static 'trip/makeyou.jpg' %}" class="align-self-center mr-3" alt="...">
  <div class="media-body">
    <br>
    <br>
    <br>
    <hr>
    <h2 class="mt-0" style="font-family:Georgia;">
      <center>
        <p style="color:LIGHTBLUE;">
          Connect with more people, build influence, and create compelling content that's distinctly
        </p>
        <h1>
          yours..
        </h1>
      </center>
    </h2>
    <hr>
  </div>
</div>
<br>
<br>

<footer>
  <center>
    <hr>
    <h3 style="font-family:Georgia;">
      Thinking something??.. Wanna share??..
    </h3>
    <h3 style="font-family:Georgia;">
      Why wait??.. Do it here!!...
    </h3>
    <hr>
  </center>
</footer>
<br>
<br>
<br>


{% endblock %}
