{% extends 'trip/base.html' %}
{% load static %}



{% block content %}
<br>
<div class="container my-3">
  <center>
    <h3 style="font-family:courier;background-color:LIGHTBLUE">
      Contact Finger Trip Admin
    </h3>
  </center>
  <form action="/contact/" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="name"><b>Name</b></label>
      <input type="text" class="form-control" id="name" name="name" aria-describedby="name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"><b>Email address</b></label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="phoneNumber"><b>Phone Number</b></label>
      <input type="phone" class="form-control" id="phone" name="phone">
    </div>
    <div class="form-group">
      <label for="content"><b>How may we help you?</b></label>
      <textarea class="form-control" id="content" name="content" rows="5" cols="30"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}
