
{% extends 'trip/base.html' %}


{% block content %}
{% load static %}
<div class="row justify-content-center my-3">
  <div class="col-5">
    <br>
    <br>
    <img src= "{% static 'trip/hello.gif' %}" width="400" height="400" class="img-fluid">
    <br>
    <img src= "{% static 'trip/LET.jpg' %}" width="900" height="150" class="img-fluid">
    <center>
    <h4 style="font-family:cursive;">Don't have an account?</h4>
    <h3 style="font-family:cursive;">Sign up ☝️</h3>

    </center>
  </div>
</div>



{% endblock %}
