
{% extends 'trip/base.html' %}


{% block content %}
{% load static %}
<div class="row justify-content-center my-3">
  <div class="col-5">
    <br>
    <br>
    <center>
    <img src= "{% static 'trip/hello.gif' %}" width="400" height="400" class="img-fluid">
    <br>
    <img src= "{% static 'trip/images-19.jpeg' %}" width="10000" height="1000" class="img-fluid">
      <h4 style="font-family:cursive;">Don't have an account?</h4>
      <h2 style="font-family:cursive; color:lightblue;">Sign up ☝️</h2>
    </center>
  </div>
</div>
{% endblock %}
