{% extends 'trip/base.html' %}

{% block wallactive %} active {% endblock wallactive %}

{% block content %}
  <center>
      <div class="row justify-content-center mt-5">
        <div class="col-md-5">
          <h1 style="font-family:courier;">Search Results:</h1>
        <div>
      </div>

    <br>

    <body>
      {% if allTrips|length < 1 %}
      <div class="card" style="width: 35rem;"><br>
        <h3 class="card-title" style="font-family:Georgia;background-color:LIGHTBLUE;">No search results..😪</h3>
        <h6 class="card-text" style="font-family:Georgia;">Your search - <b>{{ search }}</b>- did not match any posts. </h6>
        <div class="card-body">
          <ul style="text-align:left;font-family:Georgia;"><b>Suggestions:</b>
            <ul>
              <li>Make sure that all words are spelled correctly.</li>
              <li>Try different keywords.</li>
              <li>Try more general keywords.</li>
              <li>Try fewer keywords.</li>
            </ul>
          </ul>
        </div>
      </div>
      {% endif %}
      {% for trip in allTrips %}
      <div class="card" style="width: 35rem;"><br>
        <h3 class="card-title" style="font-family:Georgia;background-color:LIGHTBLUE;">{{ trip.title }}</h3>
        <p class="card-text" style="font-family:Georgia;">{{ trip.description }}</p>
        <img src="{{ trip.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <b style="color:blue;font-family:Cursive;color:LIGHTBLUE">{{ trip.user }}</b>
          | <small style="font-family:Georgia">{{trip.created|date:'M, Y '|upper}}</small>

          <br>

          <form action="{% url 'like_post' %}" method="POST">
            {% csrf_token %}
            <input type='hidden' name='trip_id' value="{{ trip.id }}">
            {% if liker not in trip.likes.all %}
              <button class="ui button positive" type='submit' style="background-color:white">
                ❤️
              </button>
            {% else %}
              <button class="ui button negative" type='submit'style="background-color:white">
                🤍
              </button>
            {% endif %}
            <strong>
              {% if trip.likes.all.count == 1  %}
                {{ trip.likes.all.count }} -like
              {% else %}
                {{ trip.likes.all.count }} -likes
              {% endif %}
            </strong>
          </form>
          <hr>
          <h6 class="font-weight-bold" style="font-family:Georgia;">
            Comments...
          </h6>
          {% if not trip.comments.all %}
            <p style="font-family:cursive;"">
              No Comments Yet...
              <a href= "{% url 'trip_detail' trip.id %}" style="font-family:cursive;" class="btn btn-info" >
                Add One
              </a>
            </p>
          {% else %}
            {% for comment in trip.comments.all %}
              <small style="font-family:cursive;color:blue;">
                {{ comment.commenter }}-
              </small>
              <small style="font-family:georgia;">
                {{ comment.comment_text }}
              </small>
              <br>
            {% endfor %}
            <a href="{% url 'trip_detail' trip.id %}" style="font-family:cursive;" class="btn btn-primary">
              Add a comment
            </a>
          {% endif %}
          <hr>
          <br>
        </div>
      {% endfor %}
      </div>
    </body>


  </center>
{% endblock %}
