{% extends 'trip/base.html' %}

{% block content %}

<head>
<Style type='text/css' >body{background-color:rgb(0,0,0);background-image:url(https://www.commentnation.com/hotlinks/white_marbled_paper_background_texture_seamless.jpg);background-position:top left;background-repeat:repeat;background-attachment:fixed;}</Style>
</head>
<body>
  <center>
<br>
<hr>
    <h4 class="text-uppercase" style="font-family:Georgia;background-color:White">{{ trip.title }}</h4>
    <hr><h5 style="font-family:Cursive;">{{ trip.description }}</h5><hr>
    <span class="border">
      <img src="{{ trip.image.url }}" width="400" height="400" class="rounded-sm">
    <span>
    <p>posted by- <b style="color:blue;font-family:Cursive">{{ trip.user }}</b>
      | <small style="font-family:Georgia">{{trip.created|date:'M, Y '|upper}}</small>
    </p>
    <div class="row justify-content-center mt-5">
            <div class="col-md-5">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Comment</button>
      </form>
      </div>
    </div>
  </center>
</body>


{% endblock %}
