{% extends 'trip/base.html' %}

{% block content %}

<center>
<h2 style="font-family:Georgia;background-color:LIGHTBLUE;color:white;">
  Here!! It is. 🤘
</h2>
<hr>

<body>

    <div class="card" style="width: 35rem;"><br>
      <h3 class="card-title" style="font-family:Georgia;background-color:LIGHTBLUE;">{{ trip.title }}</h3>
      <p class="card-text" style="font-family:Georgia;">{{ trip.description }}</p>
      <img src="{{ trip.image.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <b style="color:blue;font-family:Cursive;color:LIGHTBLUE">{{ trip.user }}</b>
        | <small style="font-family:Georgia">{{trip.created|date:'M, Y '|upper}}</small>

        <br>

        <form action="{% url 'like_post' %}" method="POST">
          {% csrf_token %}
          <input type='hidden' name='trip_id' value="{{ trip.id }}">
          {% if liker not in trip.likes.all %}
            <button class="ui button positive" type='submit' style="background-color:white">
              ❤️
            </button>
          {% else %}
            <button class="ui button negative" type='submit'style="background-color:white">
              🤍
            </button>
          {% endif %}
          <strong>
            {% if trip.likes.all.count == 1  %}
              {{ trip.likes.all.count }} -like
            {% else %}
              {{ trip.likes.all.count }} -likes
            {% endif %}
          </strong>
        </form>
        <form action = "comment_post/" method='POST'>
          {% csrf_token %}
          <input type = "text" name = "comment" placeholder="Enter a comment here">
          <input type = "submit" value="Submit">
      </div>
    </div>

  <br>
  <br>
</body>
</center>

{% endblock %}
